# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out
coverage.html

# Go workspace
go.work
go.work.sum

# Dependency directories
vendor/

# IDE and editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Debug
__debug_bin*
